<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class= wrapper>
		<h1>Edit User {{ user.id }}<h1>
		<form action="/users/{{user.id}}/update" method='post'>
		{% csrf_token %}
			<p><input type="text" name="first_name" value={{ user.first_name }}></p>
			<p><input type="text" name="last_name" value={{ user.last_name }}></p>
			<p><input type="text" name="email" value={{ user.email }}></p>
			<input type="submit" name="submit" value="Update">
		</form>
		<a href="/users/{{ user.id }}">Show</a> | <a href="/users/">Go Back</a>
	</div>
</body>
</html>