<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class = wrapper>
		<h1>Users</h1>
		<table>
			<thead>
				<th>id</th>
				<th>Full Name</th>
				<th>Email</th>
				<th>Created At</th>
				<th>Actions</th>
			</thead>
			{% for i in users %}
				<tr>
					<td>{{ i.id }}</td>
					<td>{{i.first_name }} {{ i.last_name }}</td>
					<td>{{ i.email }}</td>
					<td>{{ i.created_at }}</td>
					<td><a href="/users/{{ i.id }}">Show</a> | <a href="/users/{{ i.id }}/edit">Edit</a> | <a href="/users/{{ i.id }}/destroy">Delete</a></td>
				<tr>
			{% endfor %}
		</table>
		<a href="/users/new">Add a new user</a>
	</div>
</body>
</html>